<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>مدیریت محصولات</title>
</head>
<body dir="rtl" class="bgw">
<form method="post" style="font-family:'0 Badr', '0 Badr Bold', '0 Baran', '0 Elham'">
<table align="center" dir="rtl" width="100%" height="100%" border="0"><tr height="100 px" align="center" style="background-color:#ffeee7"><td style="font-family: 'Blackadder ITC' ; font-size: 35px" >roubina</td></tr>
</table>
<table align="center" width="100%" height="100%" border="0">



<tr style="font-size:18px ; font-family:'0 Badr', '0 Badr Bold', '0 Baran', '0 Elham'; background-image:url(#)" >
<td align="center" width="90 px"><a href="/roubi"> مدیریت منو </a></td>
<td align="center"   width="90 px">مدیریت مطالب</td>
<td align="center"   width="90 px">تخفیفات</td>
<td align="center"   width="90 px">محصولات</td>
<td align="center"   width="90 px">نمودار فروش</td>
<td align="center"   width="200 px">نمودار بازدید از فروشگاه </td>
<td align="center"   width="90 px">تخفیفات</td>
<td></td>
</tr>
<tr  align="center" style="background-color: rgba(255,255,255,0.07)"><td align="center" colspan="10"> <input type="text"  id="search" name="search" style="background-image:url(img/6.png) ; width:400px ; height:30px " height="106 px" /><br/> <br/> </td></tr>

</table>

<div style="background-color:#EFEFEF">
<table align="center" width="85%"  border="0" bgcolor="#FFFFFF">

<tr style="font-size:18px ; font-family:'0 Badr', '0 Badr Bold', '0 Baran', '0 Elham'; background-color: rgba(255,255,255,0.07)" >
<td align="center" width="90 px"><a href="#"> محصولات</a></td>
<td align="center"   width="90 px">مدیریت منو </td>
<td align="center"   width="90 px">تصاویر</td>
<td align="center"   width="90 px">بنر فروشگاه</td>

<td></td>
</tr>
<tr  >
<td style="font-size:15px" colspan="5">
<tr bordercolor="#CBCBCB">
<td align="center" width="90 px"><a href=""> اطلاعات عمومی</a></td>
<td align="center"   width="90 px">تصاویر</td>
<td align="center"   width="90 px">جزییات</td>
<td align="center"   width="90 px">توضیحات(نقدوبررسی)</td>
</tr>
</td>
</tr>
</table>
<hr>
<table align="center" width="35%"  border="0" bgcolor="#FFFFFF">
<tr>
<td>نام محصول : </td><td><input type="text"  id="search" name="search" style=" width:200px ; height:30px " height="106 px" /></td>
</tr>
<tr>
<td>متاتگ توضیحات : </td><td><input type="text"  id="search" name="search" style=" width:200px ; height:30px " height="106 px" /></td>
</tr>
<tr>
<td>کلمات کلیدی : </td><td><input type="text"  id="search" name="search" style=" width:200px ; height:30px " height="106 px" /></td>
</tr>
<tr>
<td>قیمت : </td><td><input type="text"  id="search" name="search" style=" width:200px ; height:30px " height="106 px" /></td>
</tr>

</table>
<hr>
<table align="center" width="35%"  border="0" bgcolor="#FFFFFF">
<tr>
<td>نوع محصول : </td><td><input type="text"  id="search" name="search" style=" width:200px ; height:30px " height="106 px" /></td>
</tr>
<tr>
<td>جنس رویه : </td><td><input type="text"  id="search" name="search" style=" width:200px ; height:30px " height="106 px" /></td>
</tr>
<tr>
<td>شمارهه های موجود : </td><td><input type="text"  id="search" name="search" style=" width:200px ; height:30px " height="106 px" /></td>
</tr>
<tr>
<td>توضیحات : </td><td><input type="text"  id="search" name="search" style=" width:200px ; height:30px " height="106 px" /></td>
</tr>

</table>



</div>
</form>

</body>
</html>