<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ثبت نام</title>
</head>
<body dir="rtl">
<form method="post" style="font-family:'0 Badr', '0 Badr Bold', '0 Baran', '0 Elham'">
<table align="center" dir="rtl" width="100%" height="100%" border="0"><tr height="100 px" align="center" style="background-color:#ffeee7"><td style="font-family: 'Blackadder ITC' ; font-size: 35px" >roubina</td></tr>
</table>
<table align="center" width="100%" height="100%" border="0">



<tr style="font-size:18px ; font-family:'0 Badr', '0 Badr Bold', '0 Baran', '0 Elham'; background-image:url(#)" >
<td align="center" width="90 px"><a href="#"> صفحه اصلی</a></td>
<td align="center"   width="90 px"><a href="#"> ثبت نام</a></td>
<td></td>
</tr>
<tr  align="center" style="background-color: rgba(255,255,255,0.07)"><td align="center" colspan="10"> <input type="text"  id="search" name="search" style="background-image:url(img/6.png) ; width:400px ; height:30px " height="106 px" /><br/> <br/> </td></tr>

</table>

    {{error}}
    <br/>
    <br/>

<table>
<form method="POST" action="{% url 'usersignup' %}" >
    {% csrf_token %}
    <div style="background-color:#FDFDFD">
</br>
<table align="center" style="background-color:#FFFFFF ; font-size:24px ">

<tr><td>نام کاربری :</td><td ><input type="text"  name="username"  style="width:200px ; height:25px"  /> </td></tr>

<!--<tr><td>کد ملی :</td><td><input type="text"  name="username" style="width:200px ; height:25px"  /></td></tr>-->
<tr><td>ایمیل :</td><td><input type="text" name="email" style="width:200px ; height:25px" /></td></tr>
<tr><td>پسوورد :</td><td><input type="password" name="password1" style="width:200px ; height:25px" /></td></tr>
<tr><td>تکرار پسوورد :</td><td><input type="password"   name="password2" style="width:200px ; height:25px" /></td></tr>
<!-- <tr><td>آدرس منزل :</td><td><input type="text"  id="ADDRESS" name="IDname" style="width:200px ; height:25px" /></td></tr> -->
<!-- <tr><td>کد پستی :</td><td><input type="text"  id="IDCOD" name="IDname"style="width:200px ; height:25px"  /></td></tr> -->

<!-- <tr><td> شماره همراه :</td><td><input type="text" name="phonenumber" style="width:200px ; height:25px"  /></td></tr> -->

   <tr><td> <br/><input type="checkbox" name="userkind" value="m"> آیا شما مغازه دار هستید؟<br/></td></tr>
    <tr><td> <input class = "btn " type="submit" value="ثبت نام"/></td></tr>


</table>

    </div>
</form>


</table>
</form>
</body>
</html>